@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


@media only screen and (max-width: 700px){
    .responsive {
    width: 49.99999%;
    margin: 6px 0;
    }
}


@media only screen and (max-width: 500px){
    .responsive {
    width: 100%;
    }
}

.main {
    background-color: lightblue;
}
.container {
    width: 100%;
    height: 100%;
    background:lightblue;
}

.menu ul {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
    background: rgb(0, 136, 169, 0.8);
    

}

.menu ul li {
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;

}


.ul__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #ffffff;   
}

.ul__links li a:hover {
    /* color: #0088a9;      */
    color:lightblue;
    text-decoration: underline;
}

/* nav dropdown menus */

.dropnav {
    position: relative;
    display: inline-block;

}

.dropcontent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    padding: 20px;
    z-index: 1;

}

.dropnav:hover .dropcontent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}


.dropcontent a {
    color: rgb(0, 136, 169, 0.8);
    padding: 20px;
}

.drop {
    padding-top: 20px;
    padding-bottom: 10px;
}

.drop:hover a {
    background-color: lightblue;
    width: 100%;
    
}


/* page name*/

.pagename ul li {
    list-style: none;
    float: left;
    color: #ffffff;
    cursor: pointer;
}


.name{
    display: inline;

}

.banner{
    color: #ffffff;

    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.text {
margin-top: 20px;
text-align: center;
display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
}

.text h1 {
    font-size: 43px;
    width: 500px;
}

.text p {
    width: 500px;
    font-size: 15px;
    padding: 30px 0 30px 0;
    line-height: 25px;
    color:gray;
}


.subscribe-btn {
    /* position: absolute */
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ADD8E6,#ADD8E6), radial-gradient(circle at top left,#00008B,#008B8B);
    background-origin: border-box;
    background-clip: content-box, border-box;
}



.subscribe-btn {
    transition: all 0.3s ease 0s;
}

.subscribe-btn:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.subscribe-btn span {
    display: block;
    padding: 10px 22px;

}

   
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

} 


/* city icons*/
.pop {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}
.cities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.cities h2 {
    background: rgb(0,0,0);
    /* background: rgba(255, 254, 254, 0.685);
    color: black; */
    background: rgba(0, 0, 1, 0.5);
    width: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    border: gray;
    border-width: 5px;
}
.cities a {
    color: white;
}
.cities a:hover {
    text-decoration: underline;
    color: #0088a9;

}

.cities img {
    padding: 20px;
}
/*london*/
.londonhome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.londonhome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* madrid */
 
.berlinhome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.berlinhome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* budapest */
 
.budahome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.budahome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* cologne */
.colognehome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.colognehome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* Amsterdam */
 
.amhome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.amhome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* oslo */
 
.oslohome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.oslohome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* map */
.inspire {
    text-align: center;
    margin: 50px;
}
.inspire h3 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}
 
.inspire p {
    color: gray;
    font-size: 20px;
    padding: 5px 0 10px 0;
    line-height: 25px;
}
.map img {
    margin-top: 30px;
    margin-left: 200px;
}
/* footer */
.footerlinks {
    background-color: rgba(0, 136, 169, 0.8);
    font-size: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.foot a {
    color: white;
}
.foot:hover a {
    color: lightblue; 
}
.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
