@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #eec9bc;
    height: 86px;
    width: 100%;
}

.main {
    background-color:#add8e6;
    font-family: Marriweather, sans-serif;
}


.container {
    width: 100%;
    height: 100%;
    /*background:lightblue;*/
} 

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav ul li a {
color: #ffffff;
font-size: 18px;
padding: 10px 18px;
border-radius: 20px;
text-transform: uppercase;
cursor: pointer;
}

a.active, a:hover{
    background: rgb(148, 202, 236);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color:#ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width:952px){
    
 nav label.logo img {
    /*padding-left: 50px;*/
    


  }

  nav ul li a{
    font-size:16px ;
  }

}


@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#dfec46 ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
       display: block;
       margin: 50px 0;
       line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:rgb(82, 168, 221);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .contact-section h1{
        text-align: center;
        font-size: 20px;
    }
    
}




/*Logo img*/

label.logo img {
    float: left;
    line-height: 80px;
    padding: 0 100px;
    margin-right: 48px;
    margin-left: 50px;
    margin-top: 20px;
}

/*subscribe btn - on every page?
.subscribe-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ADD8E6,#ADD8E6), radial-gradient(circle at top left,#00008B,#008B8B);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.subscribe-btn {
    margin-right: 50px;
    transition: all 0.3s ease 0s;
}  

.subscribe-btn:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.subscribe-btn span {
    display: block;
    padding: 10px 22px;
}
*/



/* styling Get in touch with us*/
.contact-section{
    margin-top: 60px;
   
}
.contact-section h1{
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 80px;
    font-family:Merriweather, sans-serif;
    
}

/* styling the form*/
.contact-section{
    background-size: cover;
    padding: 40px 0;
}



.border{
    width: 100px;
    height: 10px;
    background:#d9e5f0 ;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin:16px 0;
    border:0;
    background: white;
    padding: 20px 40px;
    outline: none;
    color: rgb(70, 71, 71);
    font-family: merriweather;
    transition: 0.5s;
}

.contact-form-text:hover{
    box-shadow: 0 0 10px 4px #fa9c7a;

    }

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    font-family: merriweather;
    font-weight: bold;
    border: 0;
    background: rgb(61, 162, 224);
    color: rgb(216, 231, 231);
    padding: 12px 50px;
    border-radius: 20px ;
    cursor: pointer;
    transition: 0.5s;

}

.contact-form-btn:hover{
    background:#fa9c7a;
}





