* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


@media only screen and (max-width: 700px){
    .responsive {
    width: 49.99999%;
    margin: 6px 0;
    }
}


@media only screen and (max-width: 500px){
    .responsive {
    width: 100%;
    }
}

.main {
    background-color: lightblue;
}
.container {
    width: 100%;
    height: 100%;
    background:lightblue;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    list-style: none;
    float: right;
    margin: 0 20px;
    color: #ffffff;
    cursor: pointer;
}


.ul_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #ffffff;
}

.ul_links li a:hover {
    color: #0088a9;
}


.logo img {
    float: left;
    margin-top: -7px; 
    margin-right: 48px;
    margin-left: 50px;
}

.subscribe-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ADD8E6,#ADD8E6), radial-gradient(circle at top left,#00008B,#008B8B);
    background-origin: border-box;
    background-clip: content-box, border-box;
}


.subscribe-btn {
    margin-right: 50px;
    transition: all 0.3s ease 0s;
}  

.subscribe-btn:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.subscribe-btn span {
    display: block;
    padding: 10px 22px;
}


/* header */

.head {
    color: white;
    font-size: 40px;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
} 

.head img {
    position: absolute;
    margin-top: 40px;
}

.head h1 {
    position: relative;
    background: rgb(0,0,0);
    background: rgba(0, 0, 1, 0.5);
    width: 100%;
    margin-bottom: 30px;
} 

/* intro video */

.video {
    padding: 40px;
    display: flex;
    justify-content: center;
} 

/* page content */

.citytour h2 {
    padding: 20px;
}

.citytour p {
    width: 800px;
}

.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.kolsch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px
}

/* .history {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
} */

.hist {
    background: rgb(0,0,0);
    background: rgba(0, 0, 1, 0.5);
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.dom {
    text-align: center;
    color: white;
    padding: 20px
}
.cath {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cathtext {
    position: relative;
    display: flex;
    align-items:center;
    justify-items: space-evenly;
}


.cathtext p {
    font-size: 20px;
    background: rgb(0,0,0);
    background: rgba(255, 254, 254, 0.685);
    color: black;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 450px;
    text-align: center;

}


.timeride {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.timeride p h2 {
    width: 50%;
}

.muse img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
