@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


@media only screen and (max-width: 700px){
    .responsive {
    width: 49.99999%;
    margin: 6px 0;
    }
}


@media only screen and (max-width: 500px){
    .responsive {
    width: 100%;
    }
}

.main {
    background-color: lightblue;
}
.container {
    width: 100%;
    height: 100%;
    background:lightblue;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    list-style: none;
    float: right;
    margin: 0 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}


.ul_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #ffffff;
}

.ul_links li a:hover {
    color: #0088a9;
}



.logo img {
    float: left;
    margin-top: -7px;
    margin-right: 48px;
    margin-left: 50px;
}



.subscribe-btn {
    top: 40px;
    right: 20px;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ADD8E6,#ADD8E6), radial-gradient(circle at top left,#00008B,#008B8B);
    background-origin: border-box;
    background-clip: content-box, border-box;
}


.subscribe-btn {
    margin-right: 50px;
    transition: all 0.3s ease 0s;
}  

.subscribe-btn:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.subscribe-btn span {
    display: block;
    padding: 10px 22px;
}


/* styling amazing virtual tour*/

.amazing{
    margin-top: 60px;
   
}
.amazing h3{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px; 
    
}

.amazing p{
    text-align: center;
    font-size: 20px;
    color:gray;
    padding: 5px 0 10px 0;
    line-height: 25px;
    
}

/* citites gallery*/
.cities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.cities h2 {
    background: rgb(0,0,0);
    /* background: rgba(255, 254, 254, 0.685);
    color: black; */
    background: rgba(0, 0, 1, 0.5);
    color: white;
    width: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    border: gray;
    border-width: 5px;
}

/* adding "a" here*/
.cities h2 a:hover {
    text-decoration: none;
    color: #0088a9;
}

.cities img {
    padding: 20px;
}

/*london*/
.londonhome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.londonhome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* text decoration none for "a" */
.londonhome h2 a {
    text-decoration: none;
    color: #ffffff;

}
/* Oslo */
 
.oslohome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.oslohome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* text decoration none for "a" */
.oslohome h2 a {
    text-decoration: none;
    color: #ffffff;

}
 
/* budapest */
 
.budahome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.budahome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* text decoration none for "a" */
.budahome h2 a {
    text-decoration: none;
    color: #ffffff;

}
 
/* cologne */
.colognehome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.colognehome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
 /* text decoration none for "a" */
.colognehome h2 a {
    text-decoration: none;
    color: #ffffff;

}
/* Amsterdam */
 
.amhome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.amhome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* text decoration none for "a" */
.amhome h2 a {
    text-decoration: none;
    color: #ffffff;

}
 
/* Berlin*/
 
.berlinhome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
 
.berlinhome > h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* text decoration none for "a" */
.berlinhome h2 a {
    text-decoration: none;
    color: #ffffff;

}
